#
## This is configuration file for RenRot. See commented variables for defaults.
#
# Note: These variables can be overriden by command line options.

# Process files with or without mtime modification.
#mtime			= Yes

# Template is used for file name building while renaming. Interpreted
# sequences are:
#	%%  a literal %
#	%c  file order number in the processed file set
#	%d  day of the month (01-31)
#	%E  ExposureTime tag value if defined
#	%F  FNumber tag value if defined
#	%H  hour (00-23)
#	%I  ISO tag value if defined
#	%i  FileNumber tag if exists (otherwise, it'll be replaced by string "NA")
#	%M  minute (00-59)
#	%m  month (01-12)
#	%S  second (00-59)
#	%W  WhiteBalance tag value if defined
#	%Y  year (1900, 1901, and so on)
#	%y  last two digits of year (00..99)
#name template		= '%Y%m%d%H%M%S'

# Trimming rotated images when using jpegtran.
#trim			= Yes

# Aggregation mode. Possible values are: none, delta or template.
#aggregation mode	= 'none'

# Template used for file aggregation. Interpreted sequences are:
#	%d  day of the month (01-31)
#	%H  hour (00-23)
#	%M  minute (00-59)
#	%m  month (01-12)
#	%S  second (00-59)
#	%Y  year (1900, 1901, and so on)
#	%y  last two digits of year (00..99)
#aggregation template	= '%Y%m%d'

# Delta interval in seconds for simple aggregation.
#aggregation delta	= 900

# Counterless aggregation directory name.
#aggregation directory	= 'Images'

# To run virtualized aggregation (see documentation).
#aggregation virtual	= No

# Default virtual aggregation directory.
# For now it is imposible to set anything except 'Images.Links.Directory'
#aggregation virtual directory = 'Images.Links.Directory'

# The commentary filename to put to Comment tag. Default is undefined.
#TagFile = Comment: '/etc/renrot.comment'

# The file containing the copyright, if you prefer the copyright as 
# string, than define it as Tag
#TagFile = Copyright [EXIF]: './copyright'

# The commentary to put to UserComment tag. Default is undefined.
# (This option could be overriden by --user-comment parameter)
#Tag = UserComment: 'User commentary here'

# Personal information could be set to XMP tags. Default is undefined.
#Tag = CreatorContactInfoCiAdrCity [XMP]: 'Here Is Your City'
#Tag = CreatorContactInfoCiAdrCtry [XMP]: 'Here Is Your Country'
#Tag = CreatorContactInfoCiAdrExtadr [XMP]: 'Here Is Your Apartments'
#Tag = CreatorContactInfoCiAdrPcode [XMP]: 'Here Is Your Zip Code'
#Tag = CreatorContactInfoCiAdrRegion [XMP]: 'Here Is Your Region'
#Tag = CreatorContactInfoCiEmailWork [XMP]: 'Here Is Your Email'
#Tag = CreatorContactInfoCiTelWork [XMP]: 'Here Is Your Phone'
#Tag = CreatorContactInfoCiUrlWork [XMP]: 'Here Is Your URL'

#Tag = Artist [EXIF]: 'Here Is Artist'
#Tag = ImageDescription [EXIF]: 'Here Is Image description'

# GPS Tags (for more info, consult http://www.sno.phy.queensu.ca/~phil/exiftool/TagNames/GPS.html)
# sample is given for Donetsk,UA (the home city of the authors)
#Tag = GPSLatitudeRef [GPS]: 'N'	# N for Noth and S for South
#Tag = GPSLatitude [GPS]: '48 00 00'	# in form "%d %.2f %.2f"
#Tag = GPSLongitudeRef [GPS]: 'E'	# E for East and W for West
#Tag = GPSLongitude [GPS]: '37 45 00'	# in form "%d %.2f %.2f"
#Tag = GPSAltitude [GPS]: '300'		# in form "%d"
#Tag = GPSDateStamp [GPS]: ''		# in form "YYYY:MM:DD"
#Tag = GPSDateStamp [GPS]: ''		# in form "HH MM SS"


# You can add any known tag here in the following format:
#Tag = KnownTagName [TagGroup]: 'Value of the tag'
