#
## the commentary to put to UserComment tag
#

#$NameTemplate  = '%Y%m%d%H%M%S';
#$NamePrefix    = 'FileNamePrefix';

#$COMMENTARY    = <<__COMMENTARY__;
#
#This image was shot by HERE-IS-YOUR-NAME for private purposes
#and is copyrighted by him (me). The copyright is governed by
#copyright laws. This image cannot be copied in any form
#without prior written permission from HERE-IS-YOUR-NAME.
#However, this copyright notice gives you permission to link
#to the image.
#
#This image is NOT a public domain!!! Unauthorized usage
#definetely PROHIBITED!
#
#You can use this image anyhow ONLY if you have received the
#assignment of permition to use from HERE-IS-YOUR-NAME.
#
#__COMMENTARY__

#
## XMP tags
#

#$CiAdrCity 	= 'Here Is Your City';
#$CiAdrCtry 	= 'Here Is Your Street';
#$CiAdrExtadr 	= 'Here Is Your Apartments';
#$CiAdrPcode 	= 'Here Is Your Zip Code';
#$CiAdrRegion 	= 'Here Is Your Region';
#$CiEmailWork 	= 'Here Is Your Email';
#$CiTelWork 	= 'Here Is Your Phone';
#$CiUrlWork 	= 'Here Is Your URL';
#$City 		= 'Here Is Your City';
